extends ../layout
block content 
    form(action="/emergencia/registrar", method="POST" class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md space-y-6")
        .form-group
            label(for="nombre" class="block text-gray-700 font-semibold mb-2") DNI del Paciente
            input(type="text", name="nombre" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400")
            input(type="checkbox", name="nn", id="nn", class="mt-2")
            label(for="nn", class="ml-2 text-gray-600") Desconocido
        .form-group
            label(for="genero" class="block text-gray-700 font-semibold mb-2") Género
            select(name="genero", required=true class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400")
                option(value="") Seleccione
                option(value="masculino") Masculino
                option(value="femenino") Femenino
                option(value="otro") Otro
        .form-group
            label(for="motivo" class="block text-gray-700 font-semibold mb-2") Motivo de la emergencia
            textarea(name="motivo", rows="3", required=true class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 resize-none")
        .form-group
            label(for="Unidad" class="block text-gray-700 font-semibold mb-2") Unidad
            select(name="genero", required=true class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400")
                option(value="") Seleccione
                option(value="guardia") Guardia
                option(value="trauma") Trauma
        button.btn.btn-primary(type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition-colors") Registrar Paciente