extends ../layout

block content
  h1.text-5xl.font-extrabold.text-blue-700.mb-10.text-center Menu de Admisión

  div(class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6")
    a(href="/admision/buscar", class="bg-white hover:shadow-xl transition-all duration-300 border border-blue-100 rounded-2xl p-8 text-center flex flex-col items-center")
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", class="w-12 h-12 text-blue-600 mb-4")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M12 4v16m8-8H4")
      span.text-xl.font-semibold.text-blue-700 Nueva Admision

    a(href="/admision/emergencia", class="bg-white hover:shadow-xl transition-all duration-300 border border-blue-100 rounded-2xl p-8 text-center flex flex-col items-center")
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", class="w-12 h-12 text-red-500 mb-4")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M18.364 5.636a9 9 0 11-12.728 0M12 9v4m0 4h.01")
      span.text-xl.font-semibold.text-red-600 Emergencia

    a(href="/admision/main", class="bg-white hover:shadow-xl transition-all duration-300 border border-blue-100 rounded-2xl p-8 text-center flex flex-col items-center")
      svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", class="w-12 h-12 text-green-500 mb-4")
        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M8 7V3m8 4V3m-9 8h10m-10 4h10m-10 4h6")
      span.text-xl.font-semibold.text-green-600 Turno
