//- views/index.pug
extends layout

block content
    h1.text-3xl.font-bold.text-blue-600.mb-4 Bienvenido al Sistema HIS
    p.text-lg Esta es la página de inicio.
    //- Ejemplo de botón estilizado con Tailwind
    a(href="/admision/main", class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded")
      | Registrar Nueva Admisión