doctype html
html(lang="es" class="h-full")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'Sistema HIS'
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  
  body(class="flex flex-col min-h-screen bg-gradient-to-br from-rose-300 to-amber-100 bg-fixed")
    header(class="shadow-lg bg-white/80 backdrop-blur-md sticky top-0 z-20")
      include partials/header.pug

    main.flex-grow.flex.flex-col.items-center.justify-start.py-10
      block content

    footer.mx-auto.mt-3.py-3.text-center.text-gray-500.text-sm.opacity-80
      include partials/footer.pug
      