extends ../../layout
block content 
    .mx-auto
        h1.text-3xl.font-bold.text-blue-600.mb-4 Ingrese el DNI del Paciente
        form(action="/admision/buscar" method="POST" class="bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4" novalidate)
            div(class="mb-4")
                input#dni.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight(type="text" name="dni" placeholder="11.111.111" required)
            button(class= "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded type= submit") Buscar Paciente